.aboutUsButton{
    display: block;
    background-color: darkblue;
    text-decoration: gainsboro;
    color: white;
    font-family: PT Sans, sans-serif;
    height: 50px;
    width: 150px;
}
.aboutUsBlock{
    background-color: white;
}