.aboutUsButton{
    display: block;
    background-color: #125D9D;
    border-radius: revert;
    border-width: 4px;
    border-color: #00CDFB;
    font-size: 1.5em;
    font-family: Inria Serif;
    font-style: normal;
    color: white;
    height: 71px;
    width: 355px;
}
.aboutUsBlock{
    background-color: white;
}
.dealerBlock{
    align-content: baseline;
    display: inline-block;
    float: left;
    height: 590;
    width: 2025px;
    background-color: darkgray;
}

.dealerBlock1{
    display: inline-block;
    align-content: baseline;
    float: right;
    height: 218%;
    width: 300px;

}
