.basketButton{
    display: block;
    background-color: #125D9D;
    border-radius: revert;
    border-width: 4px;
    border-color: #00CDFB;
    font-size: 1.5em;
    font-family: Inria Serif;
    font-style: normal;
    color: white;
    height: 71px;
    width: 355px;
}
.basketBlock{
    background-color: white;
}