.catalogBlock{
    align-content: baseline;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 2200px;
    background-color: ghostwhite;
    z-index: 1;
    position: absolute;
}

.catalogBlock1{
    align-content: center;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 600px;
    background-color: darkgray;
}

.catalogBlock2{
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 250px;
    background-color: darkgray;
}

.catalogButton{
    display: block;
    background-color: #125D9D;
    border-radius: revert;
    border-width: 4px;
    border-color: #00CDFB;
    font-size: 1.5em;
    font-family: Inria Serif;
    font-style: normal;
    color: white;
    height: 71px;
    width: 355px;
}