.dealerBlock{
    align-content: baseline;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 2025px;
    background-color: gainsboro;
}

.dealerBlock1{
    display: inline-block;
    align-content: center;
    float: left;
}
