.footerBlock{
    align-content: baseline;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 2025px;
    background-color: #3B5970;
}
.footerBlock1{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    height: 5%;
    width: 250px;
}

h1,h2,p,a{
    border-color: #00CDFB;
    font-family: Inria Serif;
    font-style: normal;
    color: white;
}
.block{
    height: 25%;
    width: available;
    background-color: aqua;
}