.logo {
    width: 500px;
    height: 600px;
}
.headerBlock{
    align-content: baseline;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 2025px;
    background-color: darkblue;
}
.headerBlock1{
    display: inline-block;
    align-content: center;
    float: left;
    margin: 0;
    padding: 0;
    height: 50%;
    width: 1600px;
}
.headerBlock2{
    display: inline-block;
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    height: 50%;
    width: 300px;
}

h1,p{
    text-decoration: white;
    color: white;
    font-family: PT Sans, sans-serif;
}