

.headerBlock{
    position: relative;
    display: inline-block;
    align-content: center;
    float: left;
    height: 50%;
    width: 2025px;
}
.top-right {
    float: left;
    position: absolute;
    top: 2px;
    right: 6px;
    color: white;
    -webkit-text-stroke: 1px #000000;
}

