.logo {
    width: 500px;
    height: 600px;
}
.Header-Block{
    align-content: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: aqua;
    height: 50%;
    width: 1600px;
}
.Header-Block1{
    display: block;
    float: right;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: aqua;
    height: 50%;
    width: 240px;
}